<div class="w-full bg-surface-900 overflow-x-auto h-screen relative">
  <div class="max-w-xl mx-auto min-h-screen justify-center items-center shadow shadow-surface-700">
    <div *ngIf="!user">
      <app-auth-form />
    </div>
    <div *ngIf="authLoading">
      <p-progressSpinner *ngIf="isLoading$" styleClass="w-8 h-8 fixed top-1/2 left-1/2 -mt-4 -ml-4 z-[9999]"
        strokeWidth="4" animationDuration=".5s">
      </p-progressSpinner>
    </div>

    <div *ngIf="user" class="min-h-screen">
      <p-tabs value="0" class="relative min-h-screen">
        <p-tablist class="!sticky top-0 z-100">
          <p-tab value="0">Products</p-tab>
          <p-tab value="1">Orders</p-tab>
          <p-tab value="2">Dashboard</p-tab>

          <div class="relative ml-auto my-auto mr-2">
            <p-button icon="pi pi-user" [rounded]="true" class="" (click)="toggleUserDropdown($event)">
            </p-button>

            <p-overlayPanel #userProfilePanel appendTo="body" [showCloseIcon]="false">
              <div class="p-4 flex flex-col space-y-3 w-60">
                <div class="flex items-center space-x-3">
                  <span class="font-semibold text-surface-100">{{ user.username }}</span>
                </div>
                <hr class="border-t border-gray-200">
                <button pButton type="button" label="Logout" icon="pi pi-sign-out"
                  class="p-button-danger p-button-sm w-full" (click)="logout()"></button>
              </div>
            </p-overlayPanel>
          </div>

        </p-tablist>
        <p-tabpanels>
          <p-tabpanel value="0">
            <p class="m-0">
              <app-products-list />

            </p>
          </p-tabpanel>
          <p-tabpanel value="1">
            <p class="m-0">
              Orders
            </p>
          </p-tabpanel>
          <p-tabpanel value="2">
            <p class="m-0">
              Dashboard
            </p>
          </p-tabpanel>
        </p-tabpanels>
      </p-tabs>
    </div>
    <p-toast styleClass="my-custom-toast"></p-toast>
    <p-confirmDialog></p-confirmDialog>
    <router-outlet />
  </div>
</div>